
# Created by https://www.gitignore.io/api/c,momentics
# Edit at https://www.gitignore.io/?templates=c,momentics

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### Momentics ###
# Built files
x86/
arm/
arm-p/
translations/*.qm

# IDE settings
.settings/

.metadata/*

192.*

# End of https://www.gitignore.io/api/c,momentics
